<!DOCTYPE html>
<head></head>
<body>
  <h1>Hello world</h1>
  We need to create an erb file in the views directory, new.erb, with a form that POSTs to a controller action, /posts. The controller action should use the Create CRUD action to create the blog post and save it to the database. Then, the action uses erb to render the index view page.
  <form class="" action="/posts" method="post">
    <input type="text" name="" value="">
    <input type="submit" name="" value="submit">
  </form>
</body>
<footer></footer>

<!-- <!DOCTYPE html>
<head></head>
<body>

</body>
<footer></footer> -->
