<!DOCTYPE html>
<head></head>
<body>
  <h1>Fill out this form with your post</h1>
  <form class="" action="/posts" method="post">
    <input type="text" name="user_input" value="">
    <input type="submit" name="" value="submit">
  </form>
</body>
<footer></footer>

<!-- <!DOCTYPE html>
<head></head>
<body>

</body>
<footer></footer> -->
